<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="danger" (click)="alert()"> Alert </ion-button>
  <ion-button expand="block" color="secondary" (click)="multiple()"> Multiple buttons alert </ion-button>
  <ion-button expand="block" color="success" (click)="confirm()">Confirm alert </ion-button>
  <ion-button expand="block" color="primary" (click)="prompt()">Prompt alert </ion-button>

</ion-content>